@import "tailwindcss";

.hide-scrollbar {
  scrollbar-width: none; /* untuk Firefox */
  -ms-overflow-style: none; /* untuk Internet Explorer dan Edge lama */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* untuk Chrome, Safari, dan Edge baru */
}

/* Hilangkan scrollbar di seluruh halaman */
html, body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer dan Edge lama */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge baru */
}

